PyQt6>=6.4.0
opencv-python>=4.5.0
numpy>=1.21.0


# CPU version
torch>=2.1.2+cpu
torchvision>=0.16.2+cpu


# GPU version (CUDA 12.1)
# torch>=2.1.2+cu121
# torchvision>=0.16.2+cu121
# --find-links https://mirrors.sjtug.sjtu.edu.cn/pytorch-wheels/torch_stable.html
# -i https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple